<!DOCTYPE html>
<html>
  <head>
    <title>Quandl</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Quandl Demo</h3>
      </div>
      <%= yield %>
      <footer class="footer">
        <p>© 2015 TechCompose Solutions Pvt. Ltd.</p>
      </footer>
    </div>
  </body>
</html>
